{% extends "base.html" %}


{% block page_content %}

<!-- Load Static Data -->
{% load static %}

{% with UsersFirstName=Firstname UsersLastName=Lastname UsersFullName=Fullname UsersLinkedIn=LinkedIn UsersGithub=Github UsersOccupation=Occupation %}
<!--==================== NAV ====================-->
{% include './header.html' %}

<!--==================== MAIN ====================-->
<main class="main">
	<!--==================== MAIN INFO ====================-->
	{% include './main_info.html' %}

	<!--==================== ABOUT ====================-->
	{% include './about.html' %}

	<!--==================== QUALIFICATION ====================-->
	{% include './qualification.html' %}

	<!--==================== SKILLS ====================-->
	{% include './skills.html' %}

	<!--==================== SERVICES ====================-->
	{% include './services.html' %}

	<!--==================== PORTFOLIO ====================-->
	{% include './portfolio.html' %}

	<!--==================== CONTACT ME ====================-->
	{% include './contact.html' with UsersPhoneNumber=Phonenumber UsersEmail=Email UsersLocation=Location %}
</main>

<!--==================== FOOTER ====================-->
{% include './footer.html' with UsersSiteName=Sitename %}

{% endwith %}

<!--========== SCROLL TOP ==========-->
<a href="#" class="scrollup" id="scroll-top">
	<i class="uil uil-arrow-up scrollup__icon"></i>
</a>

<!--==================== SWIPER JS ====================-->
<script src="https://storage.googleapis.com/my-portfolio-408919_cloudbuild/static/js/swiper-bundle.min.js"></script>

<!--==================== MAIN JS ====================-->
<script src="https://storage.googleapis.com/my-portfolio-408919_cloudbuild/static/js/main.js"></script>

{% endblock page_content %}