{% load static %}

{% block main_info %}

<section class="home section" id="home">
    <div class="home__container container grid">
        <div class="home__content grid">
            <div class="home__social">
                <a href="{{UsersLinkedin}}" target="_blank" class="home__social-icon">
                    <i class="uil uil-linkedin-alt"></i>
                </a>

                <!-- <a
                    href="https://mywebsite.com/"
                    target="_blank"
                    class="home__social-icon">
                    <i class="uil uil-dribbble"></i>
                </a> -->

                <a href="{{UsersGithub}}" target="_blank" class="home__social-icon">
                    <i class="uil uil-github-alt"></i>
                </a>
            </div>

            <!-- <svg xmlns="http://www.w3.org/2000/svg" id="Capa_1" x="0" y="0" version="1.1" viewBox="0 0 511.999 511.999"
                width="200" height="200">
                <path
                    d="M498.523 246.291c37.941-67.923-8.514-149.499-85.88-157.204l-28.232-2.813c-20.59-2.053-38.982-10.974-54.263-28.128-53.185-59.695-152.219-44.954-184.82 26.764-7.94 17.466-22.298 31.438-40.428 39.344l-39.773 17.34c-63.399 27.64-84.894 104.334-44.848 159.183l25.236 34.563c5.481 7.508 9.482 15.807 11.893 24.666l12.532 46.073c17.167 63.115 88.755 97.22 151.241 70.693l5.35-2.271c15.901-6.751 33.992-8.387 50.932-4.616l82.048 18.269c79.933 17.798 150.39-51.574 132.54-127.825l-10.384-44.351c-4.203-17.953-1.524-36.78 7.544-53.012l9.312-16.675z"
                    fill="url(&quot;#SvgjsLinearGradient1038&quot;)"></path>
                <defs>
                    <linearGradient id="SvgjsLinearGradient1038">
                        <stop stop-color="#cd9cf2" offset="0"></stop>
                        <stop stop-color="#f6f3ff" offset="1"></stop>
                    </linearGradient>
                </defs>
            </svg> -->

            <div class="home__img">
                <svg class="home__blob" x="0" y="0" width="500px" viewBox="0 0 600 600">
                    <mask id="mask0" mask-type="alpha">
                        <path
                            d="M498.523 246.291c37.941-67.923-8.514-149.499-85.88-157.204l-28.232-2.813c-20.59-2.053-38.982-10.974-54.263-28.128-53.185-59.695-152.219-44.954-184.82 26.764-7.94 17.466-22.298 31.438-40.428 39.344l-39.773 17.34c-63.399 27.64-84.894 104.334-44.848 159.183l25.236 34.563c5.481 7.508 9.482 15.807 11.893 24.666l12.532 46.073c17.167 63.115 88.755 97.22 151.241 70.693l5.35-2.271c15.901-6.751 33.992-8.387 50.932-4.616l82.048 18.269c79.933 17.798 150.39-51.574 132.54-127.825l-10.384-44.351c-4.203-17.953-1.524-36.78 7.544-53.012l9.312-16.675z"/>
                    </mask>
                    <g mask="url(#mask0)">
                        <path
                            d="M498.523 246.291c37.941-67.923-8.514-149.499-85.88-157.204l-28.232-2.813c-20.59-2.053-38.982-10.974-54.263-28.128-53.185-59.695-152.219-44.954-184.82 26.764-7.94 17.466-22.298 31.438-40.428 39.344l-39.773 17.34c-63.399 27.64-84.894 104.334-44.848 159.183l25.236 34.563c5.481 7.508 9.482 15.807 11.893 24.666l12.532 46.073c17.167 63.115 88.755 97.22 151.241 70.693l5.35-2.271c15.901-6.751 33.992-8.387 50.932-4.616l82.048 18.269c79.933 17.798 150.39-51.574 132.54-127.825l-10.384-44.351c-4.203-17.953-1.524-36.78 7.544-53.012l9.312-16.675z"/>

                            <!--==================== 
                            Insert your image in the Img folder and Change your image |
                            Center your image with X: horizontal, Y: vertical 
                        ====================-->
                            <image width="100%" x="-40"
                                href="https://storage.googleapis.com/my-portfolio-408919_cloudbuild/static/img/headshot.jpg" />
                    </g>
                </svg>
            </div>

            <div class="home__data">
                <h1 class="home__title">Hi, I'm <br>{{UsersFullName}}</h1>
                <br>
                <!-- <h3 class="home__subtitle">I am a Aspiring Developer</h3> -->

                <h3 class="home__subtitle"> Aspiring Software Engineer </h3>
                <p class="home__description">
                    Experience in Web Development, Python, TensorFlow, and Google Cloud building scalable and
                    high-impact
                    solutions.
                </p>
                <a href="#contact" class="button button--flex">
                    Contact Me <i class="uil uil-message button__icon"></i>
                </a>
            </div>
        </div>

        <div class="home__scroll">
            <a href="#about" class="home__scroll-button button--flex">
                <i class="uil uil-mouse-alt home__scroll-mouse"></i>
                <span class="home__scroll-name">Scroll down</span>
                <i class="uil uil-arrow-down home__scroll-arrow"></i>
            </a>
        </div>

    </div>
</section>

{% endblock main_info %}