{% block portfolio %}

<section class="portfolio section" id="portfolio">
    <h2 class="section__title">Projects</h2>
    <div class="spacer-20"></div>
    <span class="section__subtitle">My projects</span>
   
    <div class="row">
        <div class="column">
            <div class="card">
                <img src="assets/img/projects/easystock.jpg" alt="easystock" style="width:100%">
                <div class="card-container">
                    <h4><b>EasyStock</b></h4>
                    <div class="links">
                        <a href="https://drive.google.com/drive/folders/1GdeqRbV0FxHk-Q44SU50ffDRhH6PxJ8l?usp=sharing"
                            class="button" target="_blank">Demo and Docs</a>

                    </div>

                    <p>Currently participating in a group of five people to do Quantitative Analysis
                        on stock data to predict the trend of stocks and provided different aspect of
                        stocks (a specific stock over a period of time, stock vs competitors,
                        stock vs suppliers, etc). <br /><br />
                        • Built a data pipeline to take some stock data, perform the analysis
                        using various strategies and produce a detailed forecast using React and Python.<br />
                        • Implementing a Frontend UI to provide user with a beginner friendly platform to
                        start their investment journeys. <br />
                        • Collected and analyzed data and assessed into various covariance matrices using
                        Python, and extracted financial data through packages and online data lakes.
                        Generated several different kinds of analysis of the stock (eg. one company's
                        stock over time; company vs competitors; company vs suppliers), provided users
                        with different choices about what aspect of the stock they want to see. <br />
                        • Processed the data and created a forecast with a detailed UI leveraging React,
                        HTML and CSS, provided users with an easy way to access the analysis and display
                        the data according to their wishes. Designed a dynamic website displaying graphs
                        of stock comparison chosen by the client. The website will be easy to navigate,
                        so that way it is easy for new analysts to use. <br />
                        • Offered resources for beginner investing as well as an example of stock analysis,
                        which will be displayed when a client first navigates to the website to help clients
                        learn about stocks and investing, </p>
                </div>
            </div>
        </div>

        <div class="column">
            <div class="card">
                <img src="assets/img/projects/aast.jpg" alt="AccessAssist" style="width:100%">
                <div class="card-container">
                    <h4><b>Access Assist</b></h4>
                    <div class="links">
                        <a href="https://access-assist.netlify.app/" class="button" target="_blank">Website</a>
                        <a href="https://github.com/XinyuP/Access_Assist" class="button" target="_blank">GitHub</a>
                        <a href="https://youtu.be/cdvxypNxgWc" class="button" target="_blank">Demo Video</a>
                        <a href="https://www.figma.com/file/ZmNoReCJvOCxZyZpMueqvj/Access-Assist?node-id=0%3A1&t=p0Ylh9oc0kg3Ji4l-1"
                            class="button" target="_blank">Figma</a>

                    </div>
                    <br />
                    <p>
                        Access Assist was born out of our team's identification of a problem -
                        that many available benefit programs are underutilized due to a lack of
                        information about them and their eligibility criteria.
                        Our research revealed that this issue is especially prevalent among individuals
                        who could benefit from these programs the most.
                        <br />
                        We knew that we needed to create a solution to address this problem, and thus
                        Access Assist was born. Access Assist is a web application designed to make access
                        to benefit programs more equitable and accessible to all.
                        <br />
                        We ask people to input their addresses and we provide them with all the available
                        resources around them and whether they are eligible to use those resources.
                        We help to connect people with available resources and break the gap.
                        We also considered those who do not have access to the internet and we are going
                        to use the text message to finish all the things we did on our website, making more
                        and more people available to benefit from our project.
                        <br />
                        Our application utilizes advanced data analysis tools to help users determine which
                        programs they may be eligible for based on their individual circumstances.
                        By doing so, we hope to eliminate the barriers that prevent individuals from accessing
                        important resources that can improve their quality of life.

                </div>
            </div>
        </div>


        <div class="column">
            <div class="card">
                <img src="assets/img/projects/weatherapp.png" alt="weatherapp" style="width:100%">
                <div class="card-container">
                    <h4><b>Real-time Weather Forecast</b></h4>
                    <div class="links">
                        <a href="https://blaire-weather-forecast-app.herokuapp.com/" class="button"
                            target="_blank">Website</a>
                        <a href="https://github.com/XinyuP/weather-forecast-app" class="button"
                            target="_blank">GitHub</a>

                    </div>
                    <p>
                        • Built a weather forecast web application using Node.js, Express.js, Geocoding, Mapbox API and
                        Weatherstack API.
                        <br />
                        • Designed a web server using Express, HTML, CSS, and client-side JavaScript for the user
                        interaction.
                        <br />
                        • Used Express to serve up JSON data to get the location which the user provides in the browser.
                        Made HTTP request to the third-party service (Mapbox API) to convert the location coming from
                        the user to latitude and longitude pair.
                        <br />
                        • Used the lat/long pair to make HTTP request to fetch weather information from Weatherstack
                        API. Converted the data into a weather forecast and send it back to the browser to have it
                        rendered for the user to see.
                        <br />
                        • Built multiple JSON HTTP endpoints to enable the user to make request to fetch data.
                    </p>
                </div>
            </div>
        </div>
        
        <div class="column">
            <div class="card">
                <img src="assets/img/projects/crownclothing.png" alt="crownclothing" style="width:100%">
                <div class="card-container">
                    <h4><b>E-Commerce Website</b></h4>
                    <div class="links">
                        <a href=" https://super-scone-9b11e4.netlify.app/" class="button" target="_blank">Website</a>
                        <a href="https://github.com/XinyuP/crown-clothing-ecommerce" class="button"
                            target="_blank">GitHub</a>
                    </div>
                    <p>
                        • Built a full stack E-commerce web application with the features of login with email/password
                        and login with google popup, logout, signup, shopping cart, checkout page and Drop-Down Lists
                        using React and Firebase.
                        <br />
                        • Designed NoSQL database using Firebase to persist and process user information data, product,
                        and shopping cart data.
                        <br />
                        • Utilized React(React Router, React Hooks including Context API) to manage state globally and
                        make particular data available to all the components.
                        <br />
                        • Applied Stripe API to process transactions with credit card method.
                        <br />
                        • Completed CI/CD pipeline for auto building and testing and deployed with Netlify.
                    </p>
                </div>
            </div>
        </div>

        <div class="column">
            <div class="card">
                <img src="assets/img/projects/jobhunter.png" alt="jobhunter" style="width:100%">
                <div class="card-container">
                    <h4><b>Job Hunter</b></h4>
                    <div class="links">
                        <a href="https://jobhunterlife.netlify.app/" class="button" target="_blank">Website</a>
                        <a href="https://github.com/XinyuP/Job_Hunter" class="button" target="_blank">GitHub</a>
                    </div>
                    <p>
                        JobHunter is an automated job notification system that keeps job seekers updated with the latest
                        job postings
                        on a company's website. The system utilizes push notifications, email or text message
                        notifications to notify
                        users about new job postings. JobHunter aims to solve the problem of missing out on job
                        opportunities due to
                        late application or not being informed on time.</p>
                </div>
            </div>
        </div>

        <div class="column">
            <div class="card">
                <img src="assets/img/projects/stockyyy.jpg" alt="stockyyy" style="width:100%">
                <div class="card-container">
                    <h4><b>Stocky(Social Media Sentiment Analysis Generator)</b></h4>
                    <div class="links">
                        <a href="https://stockystocky.netlify.app/" class="button" target="_blank">Website</a>
                        <a href="https://github.com/XinyuP/stocky" class="button" target="_blank">GitHub</a>
                    </div>
                    <p>
                        Quantitative Analysis on Stock Market Social Media
                        <br />
                        (Sentiment Analysis Generator from Reddit Posts)<br />
                        <br />• Participated in a group of four people to implement a project within 24 hours to do
                        quantitative analysis on the stock posts fetching from the wallstreetbets subreddits Reddit API
                        using sentiment analysis in Python.
                        <br />• Provided the user with a Frontend UI to input the stock that they are interested in and
                        calculated and returned the data analysis of sentiment scores of that stock for the user to see.
                        <br />• Created a formula to balance the weight for each post and normalized the sentiment score
                        to be between 0 and 1.

                        <br />• Currently continue working on this project to refine the code, adding more features and
                        connect front end and backend better to provide better user experience.
                        <br />• Adding new resources of different social media such as Twitter, Yahoo, etc about stocks
                        to have a more thorough sentiment analysis of the public opinion on the stocks that the users
                        are interested in.

                        <br /><br />The overall goal of this project is to save users' time for researching public
                        opinion about a specific stock and provide users with the reference of real time public opinion
                        on a specific stock that they are interested in.
                    </p>
                </div>
            </div>
        </div>

        <div class="column">
            <div class="card">
                <img src="assets/img/projects/parade game.png" alt="jobhunter" style="width:100%">
                <div class="card-container">
                    <h4><b>"Mardi Gras" game </b></h4>
                    <div class="links">
                        <a href="https://blaire-parade-game.netlify.app/" class="button" target="_blank">Website</a>
                    </div>
                    <p>
                        Created a digital "Mardi Gras" game. <br />
                        • Parade floats moving along the parade route. <br />
                        • Parade floats throwing beads and candy. <br />
                        • Parade floats moving along the parade route. <br />
                        • A person (controlled by the user) whose goal is to collect beads and candy. <br />
                        • User can choose different character player, and the there will be audio when the player is
                        changed. <br />
                        • A splash screen on page load. <br />
                        • A scoreboard + A settings panel <br />
                        • Some "game over" state as well as some visual effects to indicate the game is over. <br />
                        • Play audio, e.g., different audio for when the player collects different items or runs into
                        the parade floats. <br />



                    </p>
                </div>
            </div>
        </div>

        <div class="column">
            <div class="card">
                <img src="assets/img/projects/mern.png" alt="mern" style="width:100%">
                <div class="card-container">
                    <h4><b>MERN Blogging Website</b></h4>
                    <p>
                        • Built a highly scalable real-world project using MERN Stack for a new startup as multi-users
                        blogging platform.
                        <br />
                        • Designed frontend using React and Next.js for client side. Built backend API using Node,
                        Express, MongoDB for server side.
                        <br />
                        • Used AWS services (S3 for files storage, SES for sending emails, EC2 for cloud hosting, IAM
                        for access management, Route53 for domain management along with custom rules/policy), and used
                        Mongo Atlas as Managed Database Service in the cloud.
                        <br />
                        • Implement Secure JWT Based Authentication System, blog CURD, Rich Text Editor, Infinite
                        Scrolling, View Count and Load More Features, Mass Email Feature, User
                        Login/Registration/Activation/Forgot/Reset Password, etc.
                    </p>
                </div>
            </div>
        </div>

        <div class="column">
            <div class="card">
                <img src="assets/img/projects/mean.png" alt="mean" style="width:100%">
                <div class="card-container">
                    <h4><b>MEAN Blogging Website</b></h4>
                    <p>
                        • Built a highly scalable real-world project using MEAN Stack for a new startup as multi-users
                        blogging platform.
                        <br />
                        • Designed frontend using Angular for client side. Built backend API using Node, Express,
                        MongoDB for server side.
                </div>
            </div>
        </div>

    </div>
</section>

{% endblock portfolio %}