{% block qualification %}

<section class="qualification section">
    <h2 class="section__title">Qualification</h2>
    <span class="section__subtitle">My personal journey</span>

    <div class="qualification__container container">

        <div class="qualification__tabs">
            <div class="qualification__button button--flex qualification__active" data-target="#work">
                <i class="uil uil-briefcase-alt qualification__icon"></i>
                Work
            </div>

            <div class="qualification__button button--flex" data-target="#education">
                <i class="uil uil-graduation-cap qualification__icon"></i>
                Education
            </div>

            <div class="qualification__button button--flex" data-target="#school">
                <i class="uil uil-briefcase-alt qualification__icon"></i>
                School Activities
            </div>
        </div>


        <div class="qualification__sections">

            <!--=============== QUALIFICATION CONTENT 1 (WORK) ===============-->
            <div class="qualification__content qualification__active" data-content id="work">


                <!--=============== QUALIFICATION 0 ===============-->
                <div class="qualification__data">
                    <div>
                        <h3 class="qualification__title">
                            CS Research Mentorship Program Scholar</h3>
                        <span class="qualification__subtitle">Google</span>
                        <div class="qualification__calendar">
                            <i class="uil uil-calendar-alt"></i>
                            Jun 2017 - present
                        </div>
                    </div>

                    <!-- <div></div> -->
                    <div class="qualification__time">
                        <span class="qualification__rounder"></span>
                        <span class="qualification__line"></span>
                    </div>
                </div>

                <!--=============== QUALIFICATION 1 ===============-->
                <div class="qualification__data">
                    <div></div>

                    <div>
                        <span class="qualification__rounder"></span>
                        <span class="qualification__line"></span>
                    </div>

                    <div>
                        <h3 class="qualification__title">Undergraduate Research Assistant</h3>
                        <span class="qualification__subtitle">Howard University</span>
                        <div class="qualification__calendar">
                            <i class="uil uil-calendar-alt"></i>
                            Jun 2023 – Present
                        </div>
                    </div>
                </div>

                <!--=============== QUALIFICATION 2 ===============-->
                <div class="qualification__data">
                    <div>
                        <h3 class="qualification__title">Career Explore Intern</h3>
                        <span class="qualification__subtitle">Road to Hire</span>
                        <div class="qualification__calendar">
                            <i class="uil uil-calendar-alt"></i>
                            Jun 2023 - Jun 2023
                        </div>
                    </div>

                    <div>
                        <span class="qualification__rounder"></span>
                        <span class="qualification__line"></span>
                    </div>
                </div>

                <!--=============== QUALIFICATION 3 ===============-->
                <div class="qualification__data">
                    <div></div>

                    <div>
                        <span class="qualification__rounder"></span>
                        <span class="qualification__line"></span>
                    </div>

                    <div>
                        <h3 class="qualification__title">CCI Instructional Assistant</h3>
                        <span class="qualification__subtitle">University of North Carolina at Charlotte</span>
                        <div class="qualification__calendar">
                            <i class="uil uil-calendar-alt"></i>
                            Jan 2023 – Present
                        </div>
                    </div>
                </div>


                <!--=============== QUALIFICATION 4 ===============-->
                <div class="qualification__data">

                    <div>
                        <h3 class="qualification__title">Summer Analyst Intern</h3>
                        <span class="qualification__subtitle">Eastdil Secured</span>
                        <div class="qualification__calendar">
                            <i class="uil uil-calendar-alt"></i>
                            June 2022 – August 2022
                        </div>
                    </div>

                    <!-- <div></div> -->

                    <div class="qualification__time">
                        <span class="qualification__rounder"></span>
                        <span class="qualification__line"></span>
                    </div>


                </div>

                <!--=============== QUALIFICATION 5 ===============-->
                <div class="qualification__data">
                    <div></div>

                    <div class="qualification__time">
                        <span class="qualification__rounder"></span>
                        <span class="qualification__line"></span>
                    </div>

                    <div>
                        <h3 class="qualification__title">Community Software Engineer</h3>
                        <span class="qualification__subtitle">Cemetech.net</span>
                        <div class="qualification__calendar">
                            <i class="uil uil-calendar-alt"></i>
                            Jun 2017 - present
                        </div>
                    </div>
                </div>
            </div>


            <!--=============== QUALIFICATION CONTENT 2 (EDUCATION) ===============-->
            <div class="qualification__content" data-content id="education">
                <!--=============== QUALIFICATION 1 ===============-->
                <div class="qualification__data">
                    <div>
                        <h3 class="qualification__title">B.Sc Computer Science</h3>
                        <span class="qualification__subtitle">University of North Carolina at Charlotte</span>
                        <div class="qualification__calendar">
                            <i class="uil uil-calendar-alt"></i>
                            2022 - Present
                        </div>
                    </div>

                    <div>
                        <span class="qualification__rounder"></span>
                        <span class="qualification__line"></span>
                    </div>
                </div>

                <!--=============== QUALIFICATION 2 ===============-->
                <div class="qualification__data">
                    <div></div>
                    <div>
                        <span class="qualification__rounder"></span>
                        <span class="qualification__line"></span>
                    </div>
                    <div>
                        <h3 class="qualification__title">M.S Computer Science</h3>
                        <span class="qualification__subtitle">University of North Carolina at Charlotte</span>
                        <div class="qualification__calendar">
                            <i class="uil uil-calendar-alt"></i>
                            2024 - Present
                        </div>
                    </div>
                </div>
            </div>

            <!--=============== QUALIFICATION CONTENT 3 ===============-->
            <div class="qualification__content" data-content id="school">

                <!--=============== QUALIFICATION 2 ===============-->
                <div class="qualification__data">
                    <div></div>

                    <div class="qualification__time">
                        <span class="qualification__rounder"></span>
                        <span class="qualification__line"></span>
                    </div>

                    <div>
                        <h3 class="qualification__title">Active Member</h3>
                        <span class="qualification__subtitle"><a href="https://ninerengage.charlotte.edu/organization/national-society-of-black-engineers">National Society of Black Engineers</a></span>
                        <div class="qualification__calendar">
                            <i class="uil uil-calendar-alt"></i>
                            Jan 2024 - present
                        </div>
                    </div>
                </div>


                <!--=============== QUALIFICATION -1 ===============-->
                <div class="qualification__data">
                    <div>
                        <h3 class="qualification__title">Active Member</h3>
                        <span class="qualification__subtitle"><a href="https://ninerengage.charlotte.edu/organization/acm">Association for Computing Machinery</a></span>
                        <br />
                        <div class="qualification__calendar">
                            <i class="uil uil-calendar-alt"></i>
                            Aug 2023 - present
                        </div>
                    </div>
                    

                    <div>
                        <span class="qualification__rounder"></span>
                        <span class="qualification__line"></span>
                    </div>
                </div>

                 <!--=============== QUALIFICATION 1 ===============-->
                 <div class="qualification__data">
                    
                    <div></div>
                    <div>
                        <span class="qualification__rounder"></span>
                        <span class="qualification__line"></span>
                    </div>

                    <div>
                        <h3 class="qualification__title">Capital One Hackathon</h3>
                        <span class="qualification__subtitle">Capital One</span>
                        <div class="qualification__calendar">
                            <i class="uil uil-calendar-alt"></i>
                            Jul 2023 - Jul 2023
                        </div>
                    </div>

                </div>

                <!--=============== QUALIFICATION 0 ===============-->
                <div class="qualification__data">
                    <div>
                        <h3 class="qualification__title">Freshmen Representative</h3>
                        <span class="qualification__subtitle"><a href="https://ninerengage.charlotte.edu/organization/blacks-in-technology">Blacks in Technology</a></span><br />
                        <div class="qualification__calendar">
                            <i class="uil uil-calendar-alt"></i>
                            Jan 2023 - present
                        </div>
                    </div>

                    <div class="qualification__time">
                        <span class="qualification__rounder"></span>
                        <span class="qualification__line"></span>
                    </div>

                    
                    
                </div>

                <!--=============== QUALIFICATION 1 ===============-->
                <div class="qualification__data">
                    <div></div>
                    <div>
                        <span class="qualification__rounder"></span>
                        <span class="qualification__line"></span>
                    </div>
                    <div>
                        <h3 class="qualification__title">Research Ambassador</h3>
                        <span class="qualification__subtitle">Black Research Support Network</span>
                        <div class="qualification__calendar">
                            <i class="uil uil-calendar-alt"></i>
                            Jan 2023 - present
                        </div>
                    </div>

                    
                </div>

                <!--=============== QUALIFICATION 0 ===============-->
                <div class="qualification__data">
                    <div>
                        <h3 class="qualification__title">LPL Finical Hackathon</h3>
                        <span class="qualification__subtitle">LPL Finical</span><br />
                        <div class="qualification__calendar">
                            <i class="uil uil-calendar-alt"></i>
                            Jan 2023 - Jan 2023
                        </div>
                    </div>

                    <div class="qualification__time">
                        <span class="qualification__rounder"></span>
                        <span class="qualification__line"></span>
                    </div>

                    
                    
                </div>

                
                
            </div>
        </div>
    </div>
</section>

{% endblock qualification %}