{% block videos %}

<section class="videos section" id="videos">
    <h2 class="section__title">My YouTube</h2>
    <span class="section__subtitle">Recent</span>

    <div class="container">
        <div class="card">
            <iframe width="100%" height="100%" src="https://www.youtube.com/embed/7_VdMcmBYl8"
            title="YouTube video player" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </div>
    </div>

</section>

{% endblock videos %}